*{
box-sizing: border-box;
font-family: calibri;
}
body{
 width: 100%;
 margin:0;

}
.header{
 width:100%;
 float:left;
 background-color:#34495E;
 height:auto;
 padding:10px;
}
#container{
 height: 600px;
 width: 85%;
 border: 1px solid #AFD8F8;
 margin: auto;
 margin-top: 10px;
 float:left;
 margin-left:7.5%;
 border-top:none;
 border-left:none;
}
.grid{
 border: 1px solid #AFD8F8;
 border-right:none;
 border-bottom:none;
 height: 30px;
 width: 3.3333333333%;
 float:left;
 background-image: linear-gradient(#4961BA,#4961BA);
  background-repeat: no-repeat;
  transition: background-size 2s, color .8s;
  background-size: 0% 0%;
 background-position: 50% 50%;

}
@keyframes multicolor {
    0% {
        background-color: #48C9B0;
    }
	50%{
	 background-color:#AFD8F8;
	}
    100% {
        background-color: #40CEE3;
    }
}
button{
 float:left;
 margin-top:auto;
 color:#ffffff;
 background-color: #1ABC9C;
 border:none;
 padding:8px;
 border-radius: 4px;
 margin-left:20px;
 transition: .3s ease-out;
 font-weight:bold;
}
button:hover{
 background-color:#48C9B0;
}
.inpt{
 float:left;
 margin-top:;
 margin-left:7.5%;
 width:50px;
 height:30px;
 padding:5px;
 border-radius:3px;
 border:none;
 margin-top:2px;
}
.inpt2{
 margin-left:20px;
}
select{
 float:left;
 height:30px;
 margin-left:30px;
 margin-top:2px;
 border:none;
 border-radius:3px;
 padding:5px;
 background-color:#51677d;
 color:#ffffff;
 box-shadow:0px 2px 4px rgba(0,0,0,0.4);
}